*{
    margin: 0;
    padding: 0;
    line-height:1.65rem;
    font-size: 1.2rem;
    font-family: "open sans", sans-serif;
    text-align: center;
}
body{
    width: 500px;
    margin: 0 auto;
}
.logo{
    width: 90%;
    height: 100px;
    text-align: center;
    background-color: black;
    padding: 25px;
    vertical-align: middle;
}
.logo img{
    width: 200px;
    height:auto;
    margin-top: 20px;
}
header{
    width: 100%;
}
h2{
    font-family: "montserrat", sans-serif;
    font-size: 2rem;
    line-height: 40px;
}
.header{
    background-image:url(./images/banner.jpg);
    background-size: cover;
    height: 450px;
    background-repeat: no-repeat;   
}
.header h2 {
    padding-top:50px;
    color: #25a2c3;
}
.header p{
    padding: 40px;
}
.button {
    padding-top: 10px;
}
.button button{
    background-color:#f04c2f ;
    border: none;
    color: white;
    width: 200px;
    height: 60px;
    font-weight: bold;
    border-radius: 5px;
    font-family: "montserrat", sans-serif;
}
h3{
    color: #25a2c3;
    font-size: 1.2rem;
    font-family:"montserrat",sans-serif;
    font-weight: bold;
}
.article{
    margin-top: 70px;
}
.p{
    margin-top:20px;
    margin-bottom: 30px;
    padding-left: 40px;
    padding-right: 40px;
}
.notebook img{
   border-radius: 50%;
}
.article1{
    margin-bottom: 40px;
}
.notebook{
    margin-bottom: 40px;
}
.bottom{
    margin-bottom: 70px;
}
.rosso{
    height: 320px;
    background-color:#e22d0e ;
    color: white;
}
.rossoa{
   padding-top: 50px;
   padding-bottom: 30px;
}
.rossoa h4{
    font-size: 2.0rem;
    font-family: "montserrat", sans-serif;
    font-weight: bold;
}
.rossob p{
    text-align: center;
    font-size: 0.8rem;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 30px;
}
.rossoc p{
    font-size: 15px;
    padding-bottom: 50px;
}
.pc-first{
    border: 1px solid #dee1e3;
    width:90%;
    margin: 0 auto;
    margin-bottom: 40px;
    margin-top: 70px;
    border-radius: 5px;
    height: 500px;
}
.titolo{
    padding-top: 30px;
}
.pmid p{
    font-size: 1rem;
}
.pc-second{
    margin-top: 30px;
    border: 1px solid #dee1e3;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 40px;
    border-radius: 5px;
    height: 500px;
}
.footer{
    margin-top: 100px;
    background-color: #25a2c3;
}
.ul{
    margin-top: 40px;
    list-style-type: none;
}
.footer-a{
    padding-top:50px;
}
.footer-b{
   padding-bottom: 40px;
}
.footer ul li a{
    color: #c8e7f0;
}
.footer ul li{
    color:#c8e7f0 ;
    margin-top: 10px;
    
}
.footer h2{
    color: white;
}
.linea{
    border-top: 1px solid #c8e7f0;
    padding-bottom: 40px;
    width: 50%;
    margin: 0 auto;
}
.copy{
    color:#c8e7f0 ;
    padding-bottom: 70px;
}
.copy a{
    color: #c8e7f0;
    font-size: 0.9rem;
}
.copy p{
    font-size: 0.9rem;
}


